name: macOS Web Shell
on: workflow_dispatch

jobs:
  debug:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Start tmate session
        uses: mxschmitt/action-tmate@v3
