name: Free macOS VM (Interactive SSH)

on:
  workflow_dispatch:  # run manually from GitHub Actions tab

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
